.vscode/
task1/target/
task1/.idea/
task1/.classpath
task1/.project
task1/.settings
task1/Task.iml
task1/Task.eml
task2/target/
task2/.idea/
task2/.classpath
task2/.project
task2/.settings
task2/Task.iml
task2/Task.eml
task3/target/
task3/.idea/
task3/.classpath
task3/.project
task3/.settings
task3/Task.iml
task3/Task.eml